/* ? Universal input stylization */
button, input, textarea{all:unset; box-sizing: border-box;}

/* ? Fonts */
    @font-face{font-family:"pixelfont";src: url("https://fonts.gstatic.com/s/vt323/v17/pxiKyp0ihIEF2isfFJU.woff2") format("woff2")}


/* ? Boring stuff for mobile */
    html {
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;    
        height:100%;
        width:100%;}
    html:focus{outline: none !important;}

/* ? Sitewide styling */
body{
    background-color: #ffcad4;
    height:100%;
    width:100%;
    font-family: pixelfont;
    font-display: block;}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    border:0px solid red
}
*::before,
*::after {
  box-sizing: border-box;}
#loading{
    width: 100%;
    height: 100%;
    display: flex;
    font-family: pixelfont;
    justify-content: center;
    align-items: center;
}



/* ? Signin styling */  
#login-container{
    width: 100%;
    height: 100%;
}
    #login-back-button{
        position: fixed;
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        padding:2%;
    }
    #login-back-button>a{
        color:#3D3B30;
    }
.login-element-container{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-element{
    width:260px;
    height:60px;
    margin-bottom:20px; 
} 
.login-element > input{
    width:100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.155);
    padding:16px;
}
.login-element > input.login-input-clicked:invalid, .login-element > input.login-input-clicked:invalid:required{
    border: 2px solid rgba(200, 0, 0, 0.301);
    padding:14px;
} 
.login-element >  button{
    width:100%;
    height: 100%;
    text-align: center;
    border: 1px solid black;
}
.login-element > button:active{background-color:rgba(0, 0, 0, 0.255);}
.login-element.signin-error{
    min-height: 60px;
    height: fit-content;
    border: 2px solid rgba(200, 0, 0, 0.8);
    color:rgba(163, 0, 0, 0.8);
    padding:16px;
    display: flex;
    align-items: center;
    font-size:1rem;
}



/* ? Content page styling */
#content-container{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: row;




    background: radial-gradient(circle, #9d8189 0%, #d8e2dc 100%);
    background-size: 120% 115%;
    background-repeat: repeat-y;

}
    #new-entry-container{
        width:50%;
        height:50%;
        display:flex;
        flex-direction: column;
        align-items: stretch;
        padding-top:5%;
        padding-left:5%;
        justify-content: space-between;
        font-size: 4vh;
    }
        .input-container{
            border:2px solid black;
        }
        #name-input-container{}
        #name-input{}
        
        #start-time-input-container{}
            #start-time-title{}

            
            #start-time-input{}
        
        #desc-input-container{}
            #desc-input{}
        
        #price-input-container{}
            #price-input{}
        
        #venuename-input-container{}
            #venuename-input{}
        
        #address-input-container{}
            #address-input{}
        
        #pictureurl-input-container{}
            #pictureurl-input{}
        
        #eventlink-input-container{}
            #eventlink-input{}
        
        #action-buttons{
            display:flex;
            flex-direction:row;
            justify-content: space-between;
        }
    #feed-container{
        width:50%;
        height:100%;
    }
        #event-feed{
            width:100%;
            height:100%;
            display:flex;
            flex-direction: column;
            align-items: stretch;
            padding-right:5%;
            padding-left:5%;
        }
            #example-gig{
                
                display:flex;
                
                width:100%;
                flex-direction: column;
                
                
            }
                #example-gig > .title{
                    align-self: center;
                    font-size: 2.5vw;
                    background-color: #9d8189;
                    width:100%;
                    text-align: center;
                    padding-top:1%;
                    padding-bottom:1%;
                }
                .info{
                    width:100%;
                    display:flex;
                    flex-direction: row;
                    
                }
                    .text{
                        border:0px solid red;
                        width:60%;
                        height:100%;
                        display:flex;
                        flex-grow:0;
                        padding-left:1%;
                        flex-direction: column;
                        justify-content: space-around;
                    }
                        #example-gig > .info > .text > .time{

                        }
                        #example-gig > .info > .text > .desc{

                        }
                        #example-gig > .info > .text > .venuename{

                        }
                        #example-gig > .info > .text > .venueaddress{

                        }
                        #example-gig > .info > .text > .price{

                        }

                        #example-gig > .info > .text > .tickets{

                        }


                    #example-gig > .info > .picture{
                         
                        width:40%;
        
                        flex-shrink: 0;
                        display:flex;
                        
                        justify-self: flex-end;
                        align-self: flex-end;
                    }
                        #example-gig > .info > .picture > img{
                            height:100%;
                            width:100%;
                        }



