/* ? Universal styling*/
/* ? Fonts */
@font-face{font-family:"titlefont";src: url("../css/fonts/Art-nuvo.otf") format("opentype")}

*{
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}
html{
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
    height:100%;
    width:100%;
    margin: 0; 
    padding: 0;
}
html:focus{
    outline: none !important;
}
body{
    height:100%;
    width:100%;

}
.palette{
    color:
    #604c5c
    #F3A712
    #FFFDED
    #5B7553
}


@media only screen and (max-width: 37rem){ 
    /* ? Base styling */
    /* ? Mobile specific styling */
    #index-content{
        width:100%;
        height:100%;
        /* background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
        url('../imgs/live-b&w-landscape.jpg');
        background-position: center center;
        background-size: 100%; */

        background-color: #604c5c;

        

        overflow-y: scroll;
    }
    *{
        border:0px solid red;
    }
        #header{
            height:10%;
            width:100%;
            box-shadow: rgba(14, 30, 37, 0.32) 0px 4px 8px 0px, rgba(14, 30, 37, 0.62) 0px 4px 32px 0px; 
        }
        #title{
                height:100%;
                display: flex;
                align-items: center;
                padding-left:4%;
                
            }
            #title > a{
                display: flex;
                flex-direction: row;
                align-items: center;
            }
            
                #title-kinoko{
                    color:wheat;
                    text-align: start;
                    
                    font-size: 2.5rem;
                    letter-spacing: 0em;
                    font-style: italic;
                    font-weight: normal;
                    font-family: playfair display, serif;
                    float:left;
                }
                #title-curse{
                    color:wheat;
                    text-align: start;
                    
                    font-size: 2.5rem;
                    letter-spacing: 0em;
                    margin-left:3%;
                    font-weight: normal;
                    font-family: playfair display, serif;
                    float:left;
                }
                #dropdown-container{
                    float:right;
                    position: relative;
                    width:15%;
                    height:7vh;
                    margin-left: auto;
                    margin-right:2%;
                    cursor:pointer;
                    flex-grow: 0;
                    filter: brightness(0) saturate(100%) invert(92%) sepia(4%) saturate(3674%) hue-rotate(326deg) brightness(104%) contrast(97%);
                    z-index: 999;
                }
                    .dropdown{
                        display:none;   
                        z-index: 1;
                        position: absolute;
                        top:10vh;
                        width:100vw;
                        right:0;
                        padding-right:0%;
                        text-align: end;
                        
                    }
                    .display-dropdown{
                        display: block;
                        
                    }
                        .dropdown-item{
                            font-size:7.5vw;
                            padding-top:1vmax;
                            padding-right:2%;
                            font-weight: bold;
                            border-bottom: 0px solid wheat;
                            font-family: playfair display, serif;
                            letter-spacing: 0em;
                            font-style: italic;
                            font-weight: 700;
                            text-shadow: #000000da 1px -1px 10px;   
                        }
            #navbar{
                display:none;
            }


        #main-scroll-container{
            height:90%;
            width:100%;   
        }
        #main{
            height:100%;
            width:100%;   

    
            background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imgs/live-b&w-landscape.jpg");
            background-position: center top;
            background-size: cover;

            display:flex;
            padding-top:5%;
            align-items: center;
            justify-content: center;
        }
        #construction{
                color:rgba(245, 222, 179, 0.808);
                font-size:4rem;
                font-family: playfair display, serif;
                text-align: center;
            }
}
@media only screen and (max-width: 62rem) and (min-width: 37rem){
       /* ? Base styling */
    /* ? Mobile specific styling */
    #index-content{
        width:100%;
        height:100%;
        /* background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
        url('../imgs/live-b&w-landscape.jpg');
        background-position: center center;
        background-size: 100%; */

        background-color: #604c5c;

        

        overflow-y: scroll;
    }
    *{
        border:0px solid red;
    }
        #header{
            height:15%;
            width:100%;
            box-shadow: rgba(14, 30, 37, 0.32) 0px 4px 8px 0px, rgba(14, 30, 37, 0.62) 0px 4px 32px 0px; 
            z-index: 999;        
        }
            #title{
                height:100%;
                display: flex;
                align-items: center;
                padding-left:4%;
                
            }
            #title > a{
                display: flex;
                flex-direction: row;
                align-items: center;
            }
                #title-kinoko{
                    color:wheat;
                    text-align: start;
                    
                    font-size: 10.5vw;
                    letter-spacing: 0em;
                    font-style: italic;
                    font-weight: normal;
                    font-family: playfair display, serif;
                    float:left;
                }
                #title-curse{
                    color:wheat;
                    text-align: start;
                    
                    font-size: 10.5vw;
                    letter-spacing: 0em;
                    margin-left:3%;
                    font-weight: normal;
                    font-family: playfair display, serif;
                    float:left;
                }
                #dropdown-container{
                    float:right;
                    position: relative;
                    width:15%;
                    height:9vh;
                    margin-left: auto;
                    margin-right:2%;
                    cursor:pointer;
                    flex-grow: 0;
                    filter: brightness(0) saturate(100%) invert(92%) sepia(4%) saturate(3674%) hue-rotate(326deg) brightness(104%) contrast(97%);
                    z-index: 999;
                }
                    #burger-svg{
                        height:9vh
                    }
                    .dropdown{
                        display:none;   
                        z-index: 1;
                        position: absolute;
                        top:15vh;
                        width:100vw;
                        right:0;
                        padding-right:0%;
                        text-align: end;
                        
                    }
                    .display-dropdown{
                        display: block;
                        
                    }
                        .dropdown-item{
                            font-size:7.5vw;
                            padding-top:1vmax;
                            padding-right:2%;
                            font-weight: bold;
                            border-bottom: 0px solid wheat;
                            font-family: playfair display, serif;
                            letter-spacing: 0em;
                            font-style: italic;
                            font-weight: 700;
                            text-shadow: #000000da 1px -1px 10px;   
                        }
            #navbar{
                display:none;
            }
        #main-scroll-container{
            height:85%;
            width:100%;   
            z-index: 998;
        }
        #main{
            height:100%;
            width:100%;   
            z-index: 997;

    
           

            display:flex;
            padding-top:5%;
            align-items: center;
            justify-content: center;

            position: relative;
            
        }
            #sidebar{
                display:flex;
                position: absolute;
                top:5%;
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-between;
                width: 90%;
                height:12%;


            }
                .sidebar-item{
                    height: 50%;
                    
                }
                .sidebar-item:hover{
                    transform: scale(1.1);
                    transition: transform 0.5s;
                }
                .sidebar-item > img{
                    
                    height:100%;
                    filter: brightness(0) saturate(100%) invert(87%) sepia(16%) saturate(768%) hue-rotate(333deg) brightness(105%) contrast(95%)
                    drop-shadow(12px 12px 12px #38133877);
                } 
                .sidebar-item:nth-child(even){
                    align-self: flex-start;
                }

            #picture-1{
                display:none;
            }


}
@media only screen and (min-width: 62rem){
/* ? Desktop specific styling */

       /* ? Base styling */
    /* ? Mobile specific styling */
    #index-content{
        width:100%;
        height:100%;
        background-color: #604c5c;
        
        overflow: hidden;

        
    }
    *{
        border:0px solid red;
    }
    #header{
        height:15vh;
        width:100vw;
        /* box-shadow: rgba(14, 30, 37, 0.32) 0px 4px 8px 0px, rgba(14, 30, 37, 0.62) 0px 4px 32px 0px; 
     */
        display:flex;
        flex-direction: row;
        background-color: #d4c68f;
    }
        #title{
            height:100%;
            padding-left:2%;

        }
        #title > a{
            height:100%;
            display:flex;
            align-items: center;

        }

            
            #title-kinoko{
                color:#121212;
                text-align: start;
                font-size: 7vw;
                letter-spacing: 0em;
                font-style: italic;
                font-weight: normal;
                font-family: 'titlefont';
                float:left;


            }
            #title-curse{
                color:#121212;
                text-align: start;
                
                font-size: 7vw;
                letter-spacing: 0em;
                margin-left:3%;
                font-weight: normal;
                font-family: 'titlefont';
                float:left;
            }
            #dropdown-container{
                display:none;
            }

        #navbar{
            
            display:flex;
            flex-direction: row;    
            
            flex:1;
            justify-content: flex-end;
            
        }
            .navbar-item{
                font-size: 3vw;
                color:#121212;
                font-family: Helvetica;
                letter-spacing: 0.05em;
                font-weight: bold;
                
                text-decoration: none;
                flex-shrink: 0;
                align-self: end;
                padding:5%;
                padding-bottom:2%;
                font-family: titlefont;
                
            }
            .navbar-item > a {
                text-decoration: none;
                color:#121212;
            }


        #main-scroll-container{
            height:85vh;
            width:100vw;
            background-color: #604c5c;
            position:relative;
            top:0;
            left:0;
            overflow-y: auto;
            background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
            url('../imgs/live/texture.jpg');
            background-size: cover;
        }
        #main-scroll-container::-webkit-scrollbar{
            width:1vmax;
            background-color: #00000000;
            
        }
        #main-scroll-container::-webkit-scrollbar-thumb{
            background-color: #d4c68f;
    
            height:20px;
            
        } 

    
        #main{
            height:100%;
            width:100%;   


    
            display:flex;
            
            flex-direction: row;

            align-items: center;
            justify-content: start;
            padding-left:5%;

            position: relative;

            
            
        }

            #picture-1{

                height:70vh;
                max-width: 35%;
                max-height:70vh;
                display:flex;
                align-items: center;
            }
                #picture-1 > img{
                    max-width: 100%;
                    max-height: 100%;
                }


            #text{

                height:80%;
                border:0px solid red;
                width:30%;
                flex-grow: 1;
                margin-right: 20%;
                margin-left:5%;
            }

                #text-title{
                    color:#d4c68f;
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    font-size: 8vmin;
                    letter-spacing: 0.1em;
                }

                #text > .text-body{
                    color:#d4c68f;
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    font-size: 1.7vmax;
                    line-height: 1.2;
                    letter-spacing: 0.05em;
                    margin-top:1vh;
                }
                #text:nth-child(2){
                    
                    font-size: 2.2vmin;
                    color:green;
                }


            
                #sidebar{
                    display:flex;
                    position: absolute;
                    top:5vh;
                    right:3%;
                    border:0px solid red; 
                    width:6%;
    
                    flex-direction: column;
                    align-items: flex-end;
                }
                    .sidebar-item{
                        width: 50%;
                        margin-bottom:20%;
                        filter: drop-shadow(2px 2px 5px 20px rgba(0, 0, 0, 0.925));
                    }
                    .sidebar-item:hover{
                        transform: scale(1.1);
                        transition: transform 0.5s;
                    }
                    .sidebar-item > img{
                        width:100%;
                        filter: brightness(0) saturate(100%) invert(88%) sepia(0%) saturate(152%) hue-rotate(148deg) brightness(98%) contrast(83%);
                    }
        #music{
            position: relative;

            height:450px;
        }   
            #tracks-view{
                position:absolute;
                top:0;
                left:0;
                width:35vw; 
                height:400px;

                display:flex;
                flex-direction: column;
                justify-content: space-evenly;
            }
            #tracks-view > .tracks{
                display:flex;
                justify-content: center;
                align-items: center;
            }
            #tracks-view > .tracks > iframe{

                height:90px;
                width:30vw;
            }

                

            #videos-view{
                position:absolute;
                top:0;
                left:40vw;
                width:57vw; 
                height:400px;

                display:flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }
            #videos-view > .videos{
                width:28vw;
                max-width: 28vw;
                height:100%;
                padding:1vw;
            }
            #videos-view > .videos > iframe{
                height:100%;
                width:100%;
            }
        
}


    